@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicar DM Sans globalmente */
body {
	font-family: 'DM Sans', ui-sans-serif, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

